<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">

// Initialize the all-important game object, where all the card data and such
// is stored.
var GAME = {};
var HANDLE = "<%= @handle %>";

$(document).ready(function() {

	// Hook up connection.
	var jug = new Juggernaut;
    jug.subscribe("<%= @match_id %>", function(data) {
        delegate(data);
    });
    jug.on("connect", function() {
        pub("register", {handle: HANDLE});
    });

	// Delegate data coming from the server depending on what type of action
	// is implied.
	var delegate = function(data) {
		data = JSON.parse(data);
		switch (data.type) {
			case "message":
				kibbitz("<em>(" + data.sender + "):</em> " + data.content);
				break;
			case "registered":
				kibbitz("<em>(msg):</em> <code>" + data.player + "</code> has successfully registered.");
				break;
			case "start":
				kibbitz("<em>(msg):</em> There are now four players&mdash;the game has begun.");
				break;
		}
	};
	
	// Manage the chat window.
	var kibbitz = function(msg) {
		var current_length = $("#kibbitz li").size();
		if (current_length >= 6)
			$("#kibbitz li:eq(0)").remove();
		$("<li>").html(msg).appendTo($("#kibbitz"));
	};
	
	// Publish events and actions to the server.
	var pub = function(url, data) {
		$.post("/matches/" + url, Object.extend({id: "<%= @match_id %>"}, data));
	};
	
	// Send chat messages.
	message = function(content) {
		pub("message", {content: content, handle: HANDLE});
	};
	
	// Fire messages on ENTER key on input.
	$("#console input").keydown(function(e) {
		if (e.keyCode == "13") {
			message($(this).val());
			$(this).val("");
			return false;
		};
	});
});

</script>

<div id="board">
	<div id="card_template" class="card" style="left:30em;top:0em;display:none;z-index:10">
	  <div class="front">
	    <div class="index"></div>
		<img class="face" src="" alt="" width="80" height="130" />
		<div class="spot"></div>
		<div class="ace"></div>
	  </div> 
	</div>
</div>

<div id="chat">
	<ul id="kibbitz">
	</ul>
	<div id="console">&gt;&gt; <input type="text"/></div>
</div>