#chat {
    width: 500px;
}

#score {
    width: 500px;
    position: absolute;
    top: 100px;
    left: 550px;
}

#score_card_name {
    position: relative;
    top: 80px;
    font-size: 10px;
}

#stats {
    position: absolute;
    top: 20px;
    left: 550px;
    font-size: 78px;
    font-family: Palatino, sans-serif;
    color: #AAA;
    display: none;
}

#stats span {
    font-weight: bold;
}

#stats #good_guys {
    color: #0066AA;
}

#stats #bad_guys {
    color: #AAA;
}

#stats em {
    font-style: normal;
    font-size: 32px;
    color: #DDD;
}

#stats #left {
    font-size: 54px;
    color: #AAA;
}

ul#kibbitz li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
}

ul#kibbitz li em {
    color: #aaa;
    font-style: normal;
}

ul#kibbitz li span {
    font-style: italic;
}

#console {
    margin-left: 40px;
    display: inline;
}

#console input {
    font-family: 'Courier New';
    display: inline;
    width: 400px;
    margin: 0;
    padding: 10px;
    font-size: 13.1px;
    border-width: 0;
    outline-width: 0;
    clear: both;
}

#board {
    position: absolute;
    top: 350px;
    left: 200px;
}

#trump {
    font-size: 68px;
    position: relative;
    left: -80px;
    top: 30px;
}